.main-container{
    width : 60vw;
    margin : 100px auto;
    padding : 10px 15px;
}

.table-container{
    height : 51vh;
    overflow: auto;

}

table th , table td{
    width : 30vw;
    text-align: center;
    padding: 10px;
}

table td{
    border-bottom : 1px solid rgb(110, 108, 108);
}

thead th {
    border-bottom : 1px solid black;
    background: #4b6cb7;
    color: white;
    position: sticky;
    top: 0;
    color: white;
    z-index: 1;
}

tr:nth-child(odd) td {
    background-color: #f0f0f0;
}

.actions{
    display: flex;
    justify-content: center;
    gap : 10px;
}

h3{
    text-align: center;
}