<div class="main-container">
    <h3>All Flight Information</h3>
    
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Flight Number</th>
                    <th>Airline</th>
                    <th>Origin</th>
                    <th>Destination</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @for(flight of flight_list; track flight.flightNumber){
                    <tr>
                        <td>{{ flight.flightNumber }}</td>
                        <td>{{ flight.airline }}</td>
                        <td>{{ flight.origin }}</td>
                        <td>{{ flight.destination }}</td>
                        <td>{{ flight.price }}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
