<div class="table-container">
    <h2>Flight Details</h2>
    <!-- {{flights}} -->
    @if(flights.length != 0){

    <table class="flight-table">
        <thead>
            <tr>
                <th>Flight Number</th>
                <th>Airline</th>
                <th>Departure</th>
                <th>Departure Time</th>
                <th>Destination</th>
                <th>Arrival Time</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @for (flight of flights; track flight.flightNumber){
            <tr>
                <td>{{flight.flightNumber}}</td>
                <td>{{flight.airline}}</td>
                <td>{{flight.departure}}</td>
                <td>{{flight.departureTime | date : 'shortTime'}}</td>
                <td>{{flight.destination}}</td>
                <td>{{flight.arrivalTime | date : 'shortTime'}}</td>
                <td>{{flight.price | currency : 'INR'}}</td>
                <td><button class="book-btn" (click)="openModal()">Book</button></td>
            </tr>
            }

        </tbody>
    </table>
    }

    @else {
    <h4>Flights Are Not Avilable</h4>
    }
</div>

<div id="modal" class="modal" #myModal>
    <div class="modal-content">
      <div class="modal-body">
        <label for="name">Name:</label>
        <input type="text" id="name" placeholder="Enter name" /><br /><br />
  
        <label for="email">Email:</label>
        <input type="email" id="email" placeholder="Enter email" /><br /><br />

        <label for="age">Age:</label>
        <input type="text" id="age" placeholder="Enter Age" /><br /><br />
  
        <label for="number">Number:</label>
        <input type="tel" id="number" placeholder="Enter number" />
      </div>
  
      <div class="modal-footer">
        <button class="btn close-btn" (click)="closeModal()">Close</button>
        <button class="btn save-btn" onclick="saveInfo()">Save</button>
      </div>
    </div>
</div>
  
