<div class="container">
    <header class="header">
        <h1>Flight Booking Details</h1>
    </header>

    <div class="user-details">
        <h2>User Information</h2>
        <div class="user-info">
            <div><strong>Name:</strong> <span>John Doe</span></div>
            <div><strong>Email:</strong> <span></span></div>
            <div><strong>Age:</strong> <span>32</span></div>
            <div><strong>Phone Number:</strong> <span>(123) 456-7890</span></div>
        </div>
    </div>


    <div class="booking-summary">
        <h2>Flight Information</h2>
        <table class="flight-table">
            <tr>
                <th>Flight Number</th>
                <th>Airline</th>
                <th>Departure</th>
                <th>Departure Time</th>
                <th>Destination</th>
                <th>Arrival Time</th>
                <th>Price</th>
            </tr>
            <tr>
                <td>AB123</td>
                <td>Airline A</td>
                <td>New York (JFK)</td>
                <td>24 Oct 2024, 10:00 AM</td>
                <td>London (LHR)</td>
                <td>24 Oct 2024, 8:00 PM</td>
                <td>$600</td>
            </tr>
        </table>
    </div>
</div>