<div class="signupContainer">
    <h2>Register</h2>
    <form>
        <div class="user_name">
            <input type="text" name="" id="user_name" placeholder="Username">
        </div>
        <div class="email">
            <input type="email" name="" id="email" placeholder="Email">
        </div>
        <div class="password">
            <input type="password" name="" id="password" placeholder="Password">
        </div>
        <div class="number">
            <input type="number" name="" id="number" placeholder="number">
        </div>
        <div class="role">
            <select type="number" name="role" id="role">
                <option selected disabled value="">--------</option>
                <option value="admin">Admin</option>
                <option value="user">User</option>
            </select>
        </div>
        <div class="button">
            <button type="submit">Register</button>
        </div>
    </form>
</div>