<div class="login-form">
    <h2>Login</h2>
    <form>
        <div class="user_name">
            <input type="text" name="user_name" id="user_name" class="common" placeholder="Username">
        </div>
        <div class="password">
            <input type="password" name="password" id="password" class="common"  placeholder="Password">
        </div>

        <div class="submit-button">
            <button type="submit">Login</button>
        </div>
    </form>

    <div class="hyper_link">
        <span>Not a Member</span>
        <a routerLink="/user/signup">SignUp</a>
    </div>
</div>