.login-form{
    max-width: 30vw;
    border: 1px solid rgb(70, 70, 70);
    margin: 100px auto;
    padding: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    position: absolute;
    top : 35%;
    left : 65%;
    background-color: white;
}

.login-wrapper{
    overflow: hidden;
    padding: 0px;
}

.image-container{
    width : 100%;
    margin-top: 8%;
}

.image-container img{
    width : 100%;
}

.user_name{
    display: flex;
    flex-direction: column;
}
.password{
    display: flex;
    flex-direction: column;
}

input[type='email']{
    padding: 10px;
    border : none;
    border-bottom: 1px solid gray;
}

input[type='password']{
    padding: 10px;
    border: none;
    border-bottom: 1px solid gray;
}

form{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

h2{
    text-align: center;
}

.common:focus{
    outline: none;
}

.submit-button button{
    width: 20vw;
    padding: 5px 0px;
    border : none;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    border: 1px solid rgb(70, 70, 70);
}

.submit-button{
    align-self: center;
}

.hyper_link{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 8px;
}

.hyper_link a{
    text-decoration: none;
}