<div class="table-container">
    <h2>City Information</h2>
    
    <div class="city-table">
        <table>
            <thead>
                <tr>
                    <th>City ID</th>
                    <th>City Name</th>
                    <th class="action-buttons">Actions</th>
                </tr>
            </thead>
            <tbody>
                @if(cityList){
                    @for(city of cityList; track city.cityId){
                        <tr>
                            <td>{{city.cityId}}</td>
                            <td>{{city.cityName}}</td>
                            <td class="action-buttons">
                                <button class="btn edit-btn">Edit</button>
                                <button class="btn delete-btn">Delete</button>
                            </td>
                        </tr>
                    }   
                }
                @else {
                    <p>Cities Are Not Avilable Yet</p>
                }
            </tbody>
        </table>
    </div>
    
</div>